@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main features */

.clr {
    margin-bottom: 1000px;
}
.container {
    width: 80vw;
    margin: 0 auto;
}
.button-hover {
    background:#2478FF;
    color: #fff;
}
.button-hover:hover {
    background: #1e70ef;
    cursor: pointer;
}
.button-hover:active {
    background: #216fdd;
}
.hidden {
    display: none;
}
.hidden-visable {
    visibility: hidden;
}

.row {
    display: flex;
}

/* header css*/

/* header navber css */
header {
    background: url(/images/yangisi.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: bottom right;
    padding: 80px 0;
    position: relative;
    top:-80px;

}
.navbar .container .logo a img {
    font-size: 0px;
    width: 35px;
    margin-right: 7px;
}
.navbar .container .logo a {
    display: flex;
    text-decoration: none;
}
.navbar .container .logo a h3 {
    text-decoration: none;
    color: #fff;
}
.navbar {
    background: transparent;
    padding: 10px 0;
    position: relative;
    z-index: 10;
    margin: 10px;
    top: 10px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container nav ul  {
    display: flex;
}
.navbar .container nav ul li {
    list-style: none;
    margin: 0 20px;
}
.navbar .container nav ul li a {
    color: #8DABD2;
    transition: all 0.4s;
    text-decoration: none;
}
.navbar .container nav ul li a:hover {
    color: #fff;
}

.navbar .container .nav-login span a  {
    text-decoration: none;
    color: #fff;
}
.navbar .container .nav-login button {
    background:#2478FF;
    border: none;
    transition: all ease 0.3s;
    padding: 10px;
    border-radius: 17.5px;
    color: #fff;
    margin-left: 10px;
}
.navbar .container .nav-login button:hover {
    background: #1e70ef;
    cursor: pointer;
}
.navbar .container .nav-login button:active {
    background: #216fdd;
}

/* header main theme */

header .main-theme {
    margin-top: 60px;
}
header .main-theme h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 10px;
}
header .main-theme p {
    font-size: 15px;
    color: #8DABD2;
    margin: 20px 0;
}
header .main-theme form {
    background: #fff;
    padding: 7px;
    border-radius: 0.5em;
    display: inline-block;
}
header .main-theme form .one {
    width: 100px;
}
header .main-theme form .two {
    width: 180px;
}
header .main-theme form .box label {
    font-weight: 500;
}
header .main-theme form .box:hover {
    background: #d6d3d3;
    border-radius: 0.5em;
}
header .main-theme form .box {
    padding: 10px ;
    transition: all ease 0.4s;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .main-theme form .box #target {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
header .main-theme form .box #target option {
    background: #d6d3d3;
}
header .main-theme form .two #target option:hover {
    border: none;
}
header .main-theme form .box #target option:hover {
    background: #999;
    color:  #d6d3d3;
    cursor: pointer;
}
header .main-theme form .two .input-box {
    border-left: 1px solid #999;
    padding-left: 10px;
}
header .main-theme form .three .input-box {
    padding-left: 10px;
    border-left: 1px solid #999;
}
header .main-theme form .three input {
    border: none;
    background: transparent;
    width: 100px;
    outline: none;
}
header .main-theme form button {
    border: none;
    border-radius: 0.5em;
    padding: 10px;
}

/* /header */

/* main section */
.main-section .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 30px;
}
.main-section .main-header .box-1 h2{
    margin: 20px 0;
    font-size: 29px;
}
.main-section .main-header .box-2 button {
    padding: 10px 20px ;
    color: #1e70ef;
    background: #fff;
    transition: all ease 0.3s;
    border: 2px solid #1e70ef;
    border-radius: 24px;
}
.main-section .main-header .box-2 button:hover {
    cursor: pointer;
    background: #1e70ef;
    color: #fff;
}
/* main items */
.main-section  .main-items .row {
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-section  .main-items .content {
    width: 23%;
    overflow: hidden;
    box-shadow: 4px 5px 8px 4px rgba(0,0,0,0.38);
    border-radius: 0.6em;
    margin: 20px 0;
    cursor: pointer;
    position: relative;
}
.main-section  .main-items .content .content-box {
    padding: 15px;
}
.main-section  .main-items .content .img-box .img-scale img {
    object-fit: cover;
    width: 100%;
    transition: all ease 0.4s;
    vertical-align: middle;
}

.main-section  .main-items .content .img-box .img-scale {
    transition: all ease 0.4s;
}
.main-section  .main-items .content .img-box .img-scale:hover {
    transform: rotate(3deg);
}
.main-section  .main-items .content .img-box img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}
.main-section  .main-items .content .img-box {
    background-size: cover;
    width: 100%;
    height: 190px;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all ease 0.4s;
}
.main-section  .main-items .content .img-box:hover {
    cursor: pointer;
    vertical-align: middle;
}
.main-section  .main-items .content .content-box .bold {
    font-weight: 600;
    line-height: 1.5;
}
.main-section  .main-items .content .content-box .second {
    margin: 300px 0;
    font-size: large;
    transition: all ease 0.2s;
}
.main-section  .main-items .content .content-box .second:hover {
    color: blue;
}
.main-section  .main-items .content .content-box p {
    font-size: 13px;
    margin: 10px 0;
}
.main-section  .main-items .content .content-box .icons {
    display: flex;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 500;
    justify-content: space-between;
}
.main-section  .main-items .content .content-box .icon-heart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: larger;
    transition: all ease 0.1s;
    opacity: 0;
}

/* /main section */


/* section */

.section .first {
    margin: 40px 0;
}
.section .first .box-1 {
    width: 50%;
    height: 420px;
}
.section .first .box-1 img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.box-2 {
    padding: 30px;
    width: 50%;
}
.box-2 h1 {
    font-size: 40px;
    font-weight: 500;
}
.box-2 p {
    margin: 20px 0;
}
.box-2 .quality-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    gap: 20px;
}
.box-2 .quality-items .item {
    margin-right: 8px;
}
.section .second .box-1 {
    width: 50%;
}
.section .second .box-1 img {
    width: 100%;
    border-radius: 15px;
    height: 420px;
}