@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main features */

.container {
    width: 80vw;
    margin: 0 auto;
}
.button-hover {
    background:#2478FF;
    color: #fff;
}
.button-hover:hover {
    background: #1e70ef;
    cursor: pointer;
}
.button-hover:active {
    background: #216fdd;
}
.hidden {
    display: none;
}
.hidden-visable {
    visibility: hidden;
}

.row {
    display: flex;
}

/* header css*/

/* header navber css */
header {
    background: url(/images/yangisi.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: bottom right;
    padding: 80px 0;
    position: relative;
    top:-100px;

}
.navbar .container .logo a img {
    width: 180px;
    margin-right: 7px;
}


.navbar {
    background: #003E77;
    padding: 0;
    position: sticky;
    top: -10px;
    z-index: 10;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container nav ul  {
    display: flex;
}
.navbar .container nav ul li {
    list-style: none;
    margin: 0 20px;
}
.navbar .container nav ul li a {
    color: #8DABD2;
    transition: all 0.4s;
    text-decoration: none;
}
.navbar .container nav ul li a:hover {
    color: #fff;
}

.navbar .container .nav-login span a  {
    text-decoration: none;
    color: #fff;
}
.navbar .container .nav-login button {
    background:#2478FF;
    border: none;
    transition: all ease 0.3s;
    padding: 10px;
    border-radius: 17.5px;
    color: #fff;
    margin-left: 10px;
}
.navbar .container .nav-login button:hover {
    background: #1e70ef;
    cursor: pointer;
}
.navbar .container .nav-login button:active {
    background: #216fdd;
}

/* media */

@media only screen and (max-width: 768px) {
    .container {
        width: 92vw;
        margin: 0 auto;
    }
    .navbar {
        max-width: 100vw;
        padding: 0;
    }
    .navbar nav ul li {
        display: none;
    }
    .navbar .nav-login {
        display: none;
    }
}
/* header main theme */

header .main-theme {
    margin-top: 60px;
}
header .main-theme h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 10px;
}
header .main-theme p {
    font-size: 15px;
    width: 500px;
    color: #8DABD2;
    margin: 20px 0;
}
header .main-theme .for-media .span1 {
    display: block;
}
header .main-theme form {
    background: #fff;
    padding: 7px;
    border-radius: 0.5em;
    display: inline-block;
}
header .main-theme form .one {
    width: 100px;
}
header .main-theme form .two {
    width: 180px;
}
header .main-theme form .box label {
    font-weight: 500;
}
header .main-theme form .box:hover {
    background: #d6d3d3;
    border-radius: 0.5em;
}
header .main-theme form .box {
    padding: 10px ;
    transition: all ease 0.4s;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .main-theme form .box #target {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
header .main-theme form .box #target option {
    background: #d6d3d3;
}
header .main-theme form .two #target option:hover {
    border: none;
}
header .main-theme form .box #target option:hover {
    background: #999;
    color:  #d6d3d3;
    cursor: pointer;
}
header .main-theme form .two .input-box {
    border-left: 1px solid #999;
    padding-left: 10px;
}
header .main-theme form .three .input-box {
    padding-left: 10px;
    border-left: 1px solid #999;
}
header .main-theme form .three input {
    border: none;
    background: transparent;
    width: 100px;
    outline: none;
}
header .main-theme form button {
    border: none;
    border-radius: 0.5em;
    padding: 10px;
}

/* main headaer media */


@media only screen and (max-width: 768px) {
    header {
        background-position: left left;
    }
    header .main-theme form .row {
        display: inline-block;
        width: 100%;
    }
    header .main-theme form {
        display: block;

    }
    header .main-theme form .row .box {
        width: 100%;
        margin: 0;
        padding-right: 30px;
    }
    header .main-theme form .row .box[name='target'] {
        font-size: 10px;
        background: #fff;
    }
    header .main-theme .for-media .span1 {
        display: inline-block;
    }
    header .main-theme p {
        width: 100%;
    }
    header .main-theme .for-media {
        font-size: larger;
        width: 100%;
    }
    header .main-theme form .two .input-box {
        border-left: none;
        padding-left: 0;
    }
    header .main-theme form .three .input-box {
        padding-left: 0;
        border-left: none;
    }
}
/* /header */

/* main section */
.main-section .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}
.main-section .main-header .box-1 h2{
    margin: 20px 0;
    font-size: 29px;
}
.main-section .main-header .box-2 button {
    padding: 10px 20px ;
    color: #1e70ef;
    background: #fff;
    transition: all ease 0.3s;
    border: 2px solid #1e70ef;
    border-radius: 24px;
    position: absolute;
    right: 0;
}
.main-section .main-header .box-2 button:hover {
    cursor: pointer;
    background: #1e70ef;
    color: #fff;
}
/* main items */
.main-section  .main-items .row {
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-section  .main-items .content {
    width: 23%;
    overflow: hidden;
    box-shadow: 4px 5px 8px 4px rgba(0,0,0,0.38);
    border-radius: 0.6em;
    margin: 20px 0;
    cursor: pointer;
    position: relative;
}
.main-section  .main-items .content .content-box {
    padding: 15px;
}
.main-section  .main-items .content .img-box .img-scale img {
    object-fit: cover;
    width: 100%;
    transition: all ease 0.4s;
    vertical-align: middle;
}

.main-section  .main-items .content .img-box .img-scale {
    transition: all ease 0.4s;
}
.main-section  .main-items .content .img-box .img-scale:hover {
    transform: rotate(3deg);

}
.main-section  .main-items .content .img-box img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}
.main-section  .main-items .content .img-box {
    background-size: cover;
    width: 100%;
    height: 190px;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all ease 0.4s;
}
.main-section  .main-items .content .img-box:hover {
    cursor: pointer;
    vertical-align: middle;
}
.main-section  .main-items .content .content-box .bold {
    font-weight: 600;
    line-height: 1.5;
}
.main-section  .main-items .content .content-box .second {
    margin: 300px 0;
    font-size: large;
    transition: all ease 0.2s;
}
.main-section  .main-items .content .content-box .second:hover {
    color: blue;
}
.main-section  .main-items .content .content-box p {
    font-size: 13px;
    margin: 10px 0;
}
.main-section  .main-items .content .content-box .icons {
    display: flex;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 500;
    justify-content: space-between;
}
.icon-heart {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: larger;
    transition: all ease 0.1s;
    z-index: 10;
}
.yangi {

    z-index: -10;
}

/* /main section */


/* section */

.section .first {
    margin: 40px 0;
}
.section .first .box-1 {
    width: 50%;
    height: 420px;
}
.section .first .box-1 img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.box-2 {
    padding: 30px;
    width: 50%;
}
.box-2 h1 {
    font-size: 40px;
    font-weight: 500;
}
.box-2 p {
    margin: 20px 0;
}
.box-2 .quality-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    gap: 20px;
}
.box-2 .quality-items .item {
    margin-right: 8px;
}
.section .second .box-1 {
    width: 50%;
}
.section .second .box-1 img {
    width: 100%;
    border-radius: 15px;
    height: 420px;
}
.section .vidio {
    width: 100%;
    height: 400px;
    margin: 40px 0;
}
.section .vidio video {
    border-radius: 15px;
    object-fit: cover;
}

/* section */

/* customers */

.customers .custom-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.customers .custom-header h3 {
    color: blue;
    font-weight: 500;
    margin-top: 10px;
}
.customers .custom-header h1 {
    margin: 20px 0;
}
.customers .custom-header img{
    width: 60px;
    height: 40px;
    object-fit: cover;
    object-position: center top;
    border-radius: 20px;
    border: 2px solid #fff;
}
.customers .custom-header .two-img {
    position: relative;
    left: -10px;

}
.customers .custom-header .three-img {
    position: relative;
    left: -20px;
}
.customers .custom-header .ninety-nine {
    position: relative;
    left: -30px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #fff;

}


.customers .custom-header .button-more {

    color: #1e70ef;

    background: #fff;
    transition: all ease 0.3s;
    border: 2px solid #1e70ef;
    border-radius: 24px;
}
.customers .custom-header button:hover {
    cursor: pointer;
    background: #1e70ef;
    color: #fff;
}

.customers .family-customers {
    flex-wrap: wrap;
    margin: 40px 0;
}
.customers .family-customers .box {
    position: relative;
    height: 300px;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: all ease 0.3s;
}
.customers .family-customers .box:hover {
    transform: scale(0.97);
    cursor: pointer;
}
.customers .family-customers .box .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.customers .family-customers .box .profile p {
    margin-bottom: 10px;
    font-weight: 500;
}
.customers .family-customers .box .profile .icons {
    display: flex;
    align-items: center;
}
.customers .family-customers .box  img{
    border-radius: 50%;
    object-fit: cover;
}
.customers .family-customers .one {
    width: 25%;
    background-image: url(/images/familyimg1.jpeg);
    background-size: cover;
}
.customers .family-customers .two {
    width: 40%;
    background-image: url(/images/familyimg4.jpeg);
    background-size: cover;
}
.customers .family-customers .three {
    width: 33%;
    background-image: url(/images/familyimg3.webp);
    background-size: cover;
    background-position: center;
    margin-right: 0;
}
.customers .family-customers .four {
    width: 25%;
    background-image: url(/images/familyimg7.webp);
    background-size: cover;
    background-position: center -200px;
    width: 40%;
}
.customers .family-customers .five {
    width: 33%;
    background-image: url(/images/familyimg5.jpeg);
    background-size: cover;
}
.customers .family-customers .six {
    width: 25%;
    background-image: url(/images/familyimg6.jpeg);
    background-size: cover;
    margin-right: 0;
}


/* /customers */

/* footer */

footer {
    background: #06152F;
    color: #fff;
}
footer .footer {
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;
}
footer .footer .box-1 {
    width: 40%;
    padding-right: 100px;
    font-size: 15px;

}
footer .footer .box {
    width: 20%;
}
footer .footer .box p {
    font-size: 20px;
    font-weight: 500;
}
footer .footer .box ul li {
    list-style-type: none;
    margin: 10px 0;
}
footer .footer .box ul li a {
    text-decoration: none;
    color: #fff;
    transition: all ease 0.3s;
    font-size: 15px;
}
footer .footer .box ul li a:hover {
    cursor: pointer;
    color: rgb(81, 202, 243);
}
footer .footer .box .icons i {
    cursor: pointer;
    margin: 5px 5px 0  0;
}
footer .copyright {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #777;
    width: 100%;
}
